{% extends 'order/index.html' %}
{% load static %}

{% block title %}
    <title> Add price</title>
{% endblock %}

{% block content %}

<div class="col-md-8">


        <h1>Менеджер по полотну  </h1>


       <form>

          <div class="form-row">

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Джинсовая ткань (расхода)</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Джинсовая ткань (расхода)</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                <div class="valid-feedback">
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Подкладочная ткань (расхода)</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Подкладочная ткань (расхода)</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                <div class="valid-feedback">
                </div>
            </div>

          </div>

           <div class="form-row">

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Подкладочный материал (V)</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Подкладочный материал (V)</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                <div class="valid-feedback">
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Застёжка “молния” брючная (расхода)</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Застёжка “молния” брючная (расхода)</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                <div class="valid-feedback">
                </div>
            </div>

          </div>
           <div class="form-row">

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Пуговицы пробывные (металлические) (расхода)</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Пуговицы пробывные (металлические) (расхода)</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                <div class="valid-feedback">
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Заклепцы пробывные (металлические) (расхода)</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Заклепцы пробывные (металлические) (расхода)</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                <div class="valid-feedback">
                </div>
            </div>

          </div>





          <button class="btn btn-success" type="submit">Сохранять</button>
        </form>
</div>
{% endblock content %}